{{#link-to 'auth.group' group}}
    <div class="panel panel-default">
        <div class="panel-body">
            <h4 class="pull-left">
                {{group.name}}
            </h4>

            {{user-strip primaryUser=group.owner users=group.users class="pull-right"}}
        </div>
    </div>
{{/link-to}}
