<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="header-navbar">
            {{#link-to 'auth.groups' class="navbar-brand"}}
                Groups
            {{/link-to}}
        </div>
        <button class="btn btn-primary btn-sm navbar-btn pull-right" {{action 'logout'}}>
            {{t 'auth.logout'}}
            ({{applicationController.loggedUser.name}})
        </button>
    </div>
</nav>

{{outlet}}
