<div class="background-cover"></div>

<div id="public">
    <img src="svg/logo-full.svg" alt="Waitress logo">

    <p class="lead text-fancy text-center">
        {{t "public.catch_phrase"}}
    </p>

    {{outlet}}
</div>
